header{
    color: white;
    background-image: linear-gradient(to right, rgb(52, 59, 134),rgb(36, 17, 129));
    font-family: sans-serif;
    text-align: center;
    font-weight: bolder;
    padding: 15px;
}

aside{
    float: left;
    width: 400px;
    height: 1000px;
}

h2{
    font-size: medium;
    font-weight: bolder;
}

main{
    min-width: 200px;
    max-width: none;
}